/* ##### May 16, 2021 - Lotus ##### */
.art#lotus {
    --lotus-green-light: #a2e786;
    --lotus-green-normal: #00cb75;
    --lotus-green-dark: #009859;
    --lotus-background: #b8b8ff;

    --lotus-size: 420px;

    background: var(--lotus-background);
}

.art#lotus div {
    height: calc(var(--lotus-size)*.5);
    width: calc(var(--lotus-size)*.6);
    margin-top: calc(var(--lotus-size)*-.25);
    margin-left: calc(var(--lotus-size)*-.3);

    background:
        radial-gradient(circle at left, transparent 60%, var(--lotus-background) 60%),
        radial-gradient(circle at right, transparent 60%, var(--lotus-background) 60%),
        var(--lotus-green-dark);
}

.art#lotus div::before,
.art#lotus div::after {
    content: "";
    position: inherit;
    height: inherit;
    width: inherit;
    border-radius: 35% 0 0 0 / 75% 0 0 0;
    margin-left: 15px;
    transform-origin: left bottom;
    transform: translateX(-15px) rotateZ(20deg);
    background:
        radial-gradient(circle at -30% -5%, transparent 59%, var(--lotus-background) 59%),
        radial-gradient(circle at 65% 115%, var(--lotus-green-light) 58%, transparent 58%),
        radial-gradient(circle at -50% 30%, transparent 50%, var(--lotus-background) 50%),
        radial-gradient(circle at 75% 72%, transparent 81%, var(--lotus-background) 81%),
        var(--lotus-green-normal);
}

.art#lotus div::after {
    transform: rotateY(180deg) translateX(15px) rotateZ(20deg);
}