@import "main.css";

body {
    background: linear-gradient(129deg, #6d3f93 23%, #eb8393 96%), #6d3f93;

    background-attachment: fixed;
    height: 100vh;

    text-align: center;
}

header {
    background: none;
}

main {
    font-family: sans-serif;
    text-transform: uppercase;
}

#error-container {
    font-weight: bold;
    color: azure;
}

#error-404 {
    font-size: 25vh;
}

#error-message {
    margin: 10px;
    font-size: 2.5vh;
    letter-spacing: 1vw;
}

#error-message::before,
#error-message::after {
    content: " ◬ ";
}

#links-container {
    margin-top: 50px;
}

#links-container div {
    display: inline-block;
    margin: 20px;

    width: 150px;
    height: 50px;
    line-height: 50px;


    color: greenyellow;
    letter-spacing: 1px;
    background-color: #0006;

    transition: .3s;
    border-radius: 3px;
}

#links-container div:hover {
    opacity: .8;
}

#links-container div::before {
    content: "→ ";
}

#links-container div::after {
    content: " ←";
}

#links-container a {
    text-decoration: none;
    vertical-align: middle;
}

#links-container a:nth-child(2) {
    font-size: 62.5%;
}