@font-face {
  font-family: "MuseoModerno";
  src: url("/fonts/MuseoModerno-Regular.ttf");
}

@font-face {
  font-family: "Advent Pro";
  font-weight: 500;
  src: url("/fonts/AdventPro-Medium.ttf");
}

html,
body,
div {
  user-select: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  overflow: overlay;
  overflow-x: hidden;
}

body.no-scroll {
  overflow: hidden;
}

body::-webkit-scrollbar,
body::-webkit-scrollbar-thumb {
  width: 12px;
  border: 4px solid transparent;
  border-radius: 1000px;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 6px #3337;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.2s;
}

a:hover {
  opacity: 0.75;
}

header {
  background: linear-gradient(30deg, violet, skyblue, khaki, salmon);
  text-align: center;
  font-family: "MuseoModerno", cursive;
  color: white;
  padding: 5px;
}

header h1 {
  padding: 5px;
  font-size: 300%;
  letter-spacing: 0.1em;
  text-shadow: 0 0 0.5em #333;
  text-shadow: 1px 1px #222, -1px 1px #222, -1px -1px #222, 1px -1px #222,
    3px 3px 1px #8888;
}

#menu-button {
  height: 1.3em;
  width: 1.5em;

  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 3;
  transition: 0.7s, opacity 0.2s;
  cursor: pointer;
}

#menu-button:hover {
  opacity: 0.75;
}

#menu-button::before,
#menu-button::after {
  position: absolute;
  left: 0;
  content: "";
  background: white;
  height: 0.25em;
  width: inherit;
  transition: inherit;
  transform-origin: 0% 50%;
}

#menu-button::before {
  top: 0%;
  --angle: 45deg;
}

#menu-button::after {
  bottom: 0%;
  --angle: -45deg;
}

#menu-button.opened {
  transform: rotate(-180deg);
}

#menu-button.opened::before,
#menu-button.opened::after {
  transform: rotate(var(--angle));
}

#menu {
  position: absolute;
  left: 0;
  top: -100%;

  opacity: 0;

  height: fit-content;
  width: 100%;

  background: #000c;
  box-shadow: 0 0 10px grey;
  z-index: 2;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: left;

  font-family: "Advent Pro", sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  transition: all 0.7s;
}

@media (min-width: 720px) {
  #menu {
    width: fit-content;
    left: initial;
    right: 0;
    border-bottom-left-radius: 1em;
  }
}

#menu.opened {
  top: 0;
  opacity: 1;
}

#menu a {
  width: fit-content;
  display: block;
  margin: 10px 64px 0 32px;
}

#menu a span {
  text-shadow: 2px 2px #8888;
}

#menu a#wip {
  font-size: 40%;
  margin-top: 32px;
}

.art {
  text-align: center;
  min-height: 400px;
  position: relative;
  overflow: hidden;
}

.art.full-screen {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  width: 100%;
  height: 100vh;
  background: white;
  background-image: inherit;
}

.toggle {
  --toggle-size: 32px;
  position: absolute;
  width: var(--toggle-size);
  height: var(--toggle-size);
  cursor: pointer;
  opacity: 0;
  mix-blend-mode: difference;
  transition: all 0.25s;
  padding: 0;
  margin: 8px;
}

.full-screen-toggle {
  top: 0;
  right: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd' stroke='none' stroke-width='0'%3E%3Cpath d='M24 0v24H0V0h24ZM12.593 23.258l-.011.002-.071.035-.02.004-.014-.004-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01-.017.428.005.02.01.013.104.074.015.004.012-.004.104-.074.012-.016.004-.017-.017-.427c-.002-.01-.009-.017-.017-.018Zm.265-.113-.013.002-.185.093-.01.01-.003.011.018.43.005.012.008.007.201.093c.012.004.023 0 .029-.008l.004-.014-.034-.614c-.003-.012-.01-.02-.02-.022Zm-.715.002a.023.023 0 0 0-.027.006l-.006.014-.034.614c0 .012.007.02.017.024l.015-.002.201-.093.01-.008.004-.011.017-.43-.003-.012-.01-.01-.184-.092Z'/%3E%3Cpath fill='%23fff' d='M18.5 5.5H16a1.5 1.5 0 0 1 0-3h3A2.5 2.5 0 0 1 21.5 5v3a1.5 1.5 0 0 1-3 0V5.5ZM8 5.5H5.5V8a1.5 1.5 0 1 1-3 0V5A2.5 2.5 0 0 1 5 2.5h3a1.5 1.5 0 1 1 0 3Zm0 13H5.5V16a1.5 1.5 0 0 0-3 0v3A2.5 2.5 0 0 0 5 21.5h3a1.5 1.5 0 0 0 0-3Zm8 0h2.5V16a1.5 1.5 0 0 1 3 0v3a2.5 2.5 0 0 1-2.5 2.5h-3a1.5 1.5 0 0 1 0-3Z'/%3E%3C/g%3E%3C/svg%3E");
}

.previous-toggle {
  top: 50%;
  left: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M24 0v24H0V0h24ZM12.593 23.258l-.011.002-.071.035-.02.004-.014-.004-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01-.017.428.005.02.01.013.104.074.015.004.012-.004.104-.074.012-.016.004-.017-.017-.427c-.002-.01-.009-.017-.017-.018Zm.265-.113-.013.002-.185.093-.01.01-.003.011.018.43.005.012.008.007.201.093c.012.004.023 0 .029-.008l.004-.014-.034-.614c-.003-.012-.01-.02-.02-.022Zm-.715.002a.023.023 0 0 0-.027.006l-.006.014-.034.614c0 .012.007.02.017.024l.015-.002.201-.093.01-.008.004-.011.017-.43-.003-.012-.01-.01-.184-.092Z'/%3E%3Cpath fill='%23fff' d='M7.94 13.06a1.5 1.5 0 0 1 0-2.12l5.656-5.658a1.5 1.5 0 1 1 2.121 2.122L11.121 12l4.596 4.596a1.5 1.5 0 1 1-2.12 2.122L7.938 13.06Z'/%3E%3C/g%3E%3C/svg%3E");
}

.next-toggle {
  top: 50%;
  right: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M24 0v24H0V0h24ZM12.593 23.258l-.011.002-.071.035-.02.004-.014-.004-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01-.017.428.005.02.01.013.104.074.015.004.012-.004.104-.074.012-.016.004-.017-.017-.427c-.002-.01-.009-.017-.017-.018Zm.265-.113-.013.002-.185.093-.01.01-.003.011.018.43.005.012.008.007.201.093c.012.004.023 0 .029-.008l.004-.014-.034-.614c-.003-.012-.01-.02-.02-.022Zm-.715.002a.023.023 0 0 0-.027.006l-.006.014-.034.614c0 .012.007.02.017.024l.015-.002.201-.093.01-.008.004-.011.017-.43-.003-.012-.01-.01-.184-.092Z'/%3E%3Cpath fill='%23fff' d='M16.06 10.94a1.5 1.5 0 0 1 0 2.12l-5.656 5.658a1.5 1.5 0 1 1-2.121-2.122L12.879 12 8.283 7.404a1.5 1.5 0 0 1 2.12-2.122l5.658 5.657Z'/%3E%3C/g%3E%3C/svg%3E");
}

.art:hover .full-screen-toggle,
.art.full-screen .toggle {
  opacity: 1;
}

.toggle:hover {
  opacity: 0.7;
  padding: 4px;
  margin: 4px;
}

.full-screen .full-screen-toggle {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M24 0v24H0V0h24ZM12.593 23.258l-.011.002-.071.035-.02.004-.014-.004-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01-.017.428.005.02.01.013.104.074.015.004.012-.004.104-.074.012-.016.004-.017-.017-.427c-.002-.01-.009-.017-.017-.018Zm.265-.113-.013.002-.185.093-.01.01-.003.011.018.43.005.012.008.007.201.093c.012.004.023 0 .029-.008l.004-.014-.034-.614c-.003-.012-.01-.02-.02-.022Zm-.715.002a.023.023 0 0 0-.027.006l-.006.014-.034.614c0 .012.007.02.017.024l.015-.002.201-.093.01-.008.004-.011.017-.43-.003-.012-.01-.01-.184-.092Z'/%3E%3Cpath fill='%23fff' d='M17.5 6.5H20a1.5 1.5 0 0 1 0 3h-3A2.5 2.5 0 0 1 14.5 7V4a1.5 1.5 0 0 1 3 0v2.5ZM4 6.5h2.5V4a1.5 1.5 0 1 1 3 0v3A2.5 2.5 0 0 1 7 9.5H4a1.5 1.5 0 1 1 0-3Zm0 11h2.5V20a1.5 1.5 0 0 0 3 0v-3A2.5 2.5 0 0 0 7 14.5H4a1.5 1.5 0 0 0 0 3Zm16 0h-2.5V20a1.5 1.5 0 0 1-3 0v-3a2.5 2.5 0 0 1 2.5-2.5h3a1.5 1.5 0 0 1 0 3Z'/%3E%3C/g%3E%3C/svg%3E");
}

@media (min-width: 960px) {
  .art {
    float: left;
    width: 50%;
  }

  .art.wide {
    width: 100%;
  }
}

.art div {
  position: absolute;
  left: 50%;
  top: 50%;
}