html,
body,
div {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

header {
    background: linear-gradient(30deg, violet, skyblue, khaki, salmon);
    text-align: center;
    font-family: 'MuseoModerno', cursive;
    padding: 5px;
}

#header-title-container {
    padding: 5px;
    font-size: 200%;
}

header a {
    text-decoration: none;
}

header a:hover {
    opacity: .7;
}

#header-logo img {
    height: 64px;
    width: 64px;
    vertical-align: middle;
}

.header-link img {
    height: 48px;
    width: 48px;
}

.art {
    text-align: center;
    min-height: 400px;
    position: relative;
    overflow: hidden;
}

@media (min-width: 960px) {
    #header-title-container {
        font-size: initial;
    }
    
    #header-logo img {
        height: 32px;
        width: 32px;
    }
    
    .header-link img {
        height: 20px;
        width: 20px;
    }
    
    .art {
        float: left;
        width: 50%;
    }
    
    .art.wide {
        width: 100%;
    }
}

.art div {
    position: absolute;
    left: 50%;
    top: 50%;
}

/* ##### October 31, 2020 - Potato ##### */
.art#potato {
    --potato-color-primary: #ffe0b7;
    --potato-color-shadow: #fdcb89;
    --potato-color-blush: #ff83b4;
    --potato-color-details: #454545;
    --potato-color-stains: #fc8978;
    --potato-color-arms: #c74b36;
    
    background: #a1e6c8;
}
.art#potato div {
    height: 270px;
    width: 15px;
    margin-top: -135px;
    margin-left: -7.5px;
    border-radius: 35px;
    transform: rotate(45deg);

    background: var(--potato-color-arms);
}

.art#potato div::before,
.art#potato div::after {
    position: inherit;
    content: "";
}
.art#potato div::before {
    height: 250px;
    width: 186px;
    margin-top: 0px;
    margin-left: -110px;
    border-radius: 45% 76% 50% 60%;
    transform: rotate(-30deg);

    background:
    radial-gradient(10px 5px at 47% 37%, var(--potato-color-details) 90%, transparent 100%),
    radial-gradient(5px 10px at 32% 32%, var(--potato-color-details) 90%, transparent 100%),
    radial-gradient(5px 10px at 62% 32%, var(--potato-color-details) 90%, transparent 100%),
    radial-gradient(13px 10px at 29% 37%, var(--potato-color-blush) 90%, transparent 100%),
    radial-gradient(13px 10px at 65% 36%, var(--potato-color-blush) 90%, transparent 100%),
    radial-gradient(circle at 96% 64%, var(--potato-color-stains) 13%, transparent 14%),
    radial-gradient(circle at 50% 55%, var(--potato-color-stains) 7%, transparent 8%),
    radial-gradient(circle at 38% 77%, var(--potato-color-stains) 7%, transparent 8%),
    radial-gradient(circle at -61% 84%, var(--potato-color-shadow) 55%, transparent 5%),
    radial-gradient(circle at 165% 51%, transparent 77%, var(--potato-color-shadow) 77%),
    var(--potato-color-primary);
}
.art#potato div::after {
    height: 280px;
    width: inherit;
    margin-top: 5px;
    margin-left: -25px;
    border-radius: 50px;
    transform: rotate(-75deg);

    background:
    linear-gradient(180deg, var(--potato-color-arms) 40px, transparent 40px, transparent 250px, var(--potato-color-arms) 250px),
    radial-gradient(circle 150px at center 40px, var(--potato-color-arms) 5%, transparent 5%),
    radial-gradient(circle 150px at center 250px, var(--potato-color-arms) 5%, transparent 5%);
}

/* ##### October 17, 2020 - Lumin ##### */
.art#lumin {
    background: black;
    --lumin-white-10: rgba(255,255,255,.05);
    --lumin-white-40: rgba(255,255,255,.2);
    --lumin-white-mark: rgba(255,255,255,.7);
    --lumin-background: black;
}
.art#lumin div {
    height: 136px;
    width: 214px;
    margin: -39px auto auto -107px;
    border-radius: 5% 5% 10% 10%;

    background:
    linear-gradient(-3deg, rgba(0,0,0,.8) 0%, transparent 10%),
    linear-gradient(
        90deg,
        var(--lumin-white-40) 0%, var(--lumin-white-10) 5%,
        var(--lumin-background) 15%,
        var(--lumin-white-10) 34%, var(--lumin-white-10) 38%,
        var(--lumin-background) 59%,
        var(--lumin-white-10) 77%,
        rgba(0,0,0,.2) 88%,
        var(--lumin-white-10) 100%
    ),
    linear-gradient(0deg, transparent 94%, rgb(0 0 0 / .8) 97%, black 98%),
    linear-gradient(0deg, transparent 95%, rgba(255,255,255,.5) 100%),
    linear-gradient(
        90deg,
        var(--lumin-white-40) 0%, var(--lumin-white-10) 10%,
        var(--lumin-background) 15%,
        var(--lumin-white-10) 36%,
        var(--lumin-background) 59%,
        var(--lumin-white-10) 77%,
        rgba(0,0,0,.2) 88%,
        var(--lumin-white-10) 100%
    ),
    var(--lumin-background);

    box-shadow: 21px 75px 65px -10px rgba(0,0,0,0.73);
    transform: perspective(2000px) rotateX(-5deg);
}
.art#lumin div::before, .art#lumin div::after {
    white-space: pre;
    position: inherit;
    text-align: left;
    color: var(--lumin-white-mark);
}
.art#lumin div::before {
    line-height: 224px;
    content: "charcoal cleanser";

    font-family: 'Average', Times, serif;
    font-size: 16px;
    text-transform: capitalize;
    text-indent: 12%;
    height: 56px;
    width: inherit;
    margin: -54px auto auto -107px;
    
    border-radius: 5px 5px 5% 5%;

    background:
    linear-gradient(0deg, var(--lumin-background) 1%, transparent 5%),
    linear-gradient(
        90deg,
        var(--lumin-white-40) 0%, var(--lumin-white-10) 10%,
        var(--lumin-background) 15%,
        var(--lumin-white-10) 36%,
        var(--lumin-background) 59%,
        var(--lumin-white-10) 79%,
        var(--lumin-background) 89%,
        var(--lumin-white-10) 100%
    ),
    linear-gradient(0deg, transparent 95%, rgba(255,255,255,.5) 100%),
    linear-gradient(0deg, transparent 95%, rgba(0,0,0,.8) 97%),
    linear-gradient(
        90deg,
        var(--lumin-white-40) 0%, var(--lumin-white-10) 5%,
        var(--lumin-background) 15%,
        var(--lumin-white-10) 34%, var(--lumin-white-10) 38%,
        var(--lumin-background) 59%,
        var(--lumin-white-10) 77%,
        var(--lumin-background) 89%,
        var(--lumin-white-10) 95%, var(--lumin-white-10) 100%
    ),
    var(--lumin-background);
    transform: perspective(500px) rotateX(3deg);
}
.art#lumin div::after {
    content: "lumin";
    text-transform: uppercase;
    letter-spacing: 4.8px;
    font-size: 11.2px;
    line-height: 27.2px;
    border-bottom: .01rem solid var(--lumin-white-mark);
    width: 70%;
    margin-left: -38%;
    margin-bottom: 10%;
    bottom: 50%;
    font-family: 'Martel Sans', sans-serif;
    font-weight: 200;
}

/* ##### August 17, 2020 - Geometry ##### */
.art#geometry {
    --geometry-background: rgb(58, 37, 73);
    --geometry-border-color: white;
    background: var(--geometry-background);
}
.art#geometry div {
    animation: geometry 5s .6s infinite linear both;
    height: 200px;
    width: 230.96px;
    margin: -100px auto auto -115.48px;
}
@keyframes geometry {
    0% {
        background:
        radial-gradient(circle 115.47px, transparent 85%, var(--geometry-border-color) 85%, var(--geometry-border-color) 87%, transparent 87%);
        transform: rotateY(0deg);
    }
    25% {
        background:
        linear-gradient(transparent 99%, var(--geometry-border-color) 99%),
        linear-gradient(60deg, transparent 66%, var(--geometry-border-color) 66%, var(--geometry-border-color) 67%, transparent 67%),
        linear-gradient(-60deg, transparent 66%, var(--geometry-border-color) 66%, var(--geometry-border-color) 67%, transparent 67%);
        transform: rotateY(180deg);
    }
    50% {
        background:
        linear-gradient(90deg, var(--geometry-background) 6.5%, var(--geometry-border-color) 6.5%, var(--geometry-border-color) 7.5%, transparent 7.5%, transparent 92.5%, var(--geometry-border-color) 92.5%, var(--geometry-border-color) 93.5%, var(--geometry-background) 93.5%),
        linear-gradient(0deg, var(--geometry-border-color) 1%, transparent 1%, transparent 99%, var(--geometry-border-color) 99%);
        transform: rotateY(360deg);
    }
    75% {
        background:
        radial-gradient(circle at 50% 55%, transparent 68.6%, var(--geometry-background) 65%),
        linear-gradient(0deg, var(--geometry-border-color) 1%, transparent 1%),
        linear-gradient(72deg, transparent 17.2%, var(--geometry-border-color) 17.2%, var(--geometry-border-color) 18%, transparent 18%),
        linear-gradient(144deg, transparent 22.5%, var(--geometry-border-color) 22.5%, var(--geometry-border-color) 23.2%, transparent 23.2%),
        linear-gradient(216deg, transparent 22.5%, var(--geometry-border-color) 22.5%, var(--geometry-border-color) 23.2%, transparent 23.2%),
        linear-gradient(288deg, transparent 17.2%, var(--geometry-border-color) 17.2%, var(--geometry-border-color) 18%, transparent 18%);
        transform: rotateY(180deg);
    }
    100% {
        background:
        radial-gradient(circle 115.47px, transparent 85%, var(--geometry-border-color) 85%, var(--geometry-border-color) 87%, transparent 87%);
        transform: rotateY(0deg);
    }
}

/* ##### June 27, 2020 - Baseball ##### */
.art#baseball {
    background:
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='100px' width='100px'><text fill='white' style='font-size: 25px;'><tspan x='13' y='32'>★</tspan><tspan x='63' y='82'>★</tspan></text></svg>"),
    linear-gradient(45deg, #4a527a -9%, #0C143C 100%),
    #0C143C;
    background-repeat: round;
}
.art#baseball div {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: -100px;
    margin-left: -100px;
    background:
    radial-gradient(circle at 135% 50%, transparent 49.5%, darkred 50.5%, transparent 51.5%),
    radial-gradient(circle at -35% 50%, transparent 49.5%, darkred 50.5%, transparent 51.5%),
    white;
    overflow: hidden;
    box-shadow: 0px 50px 20px rgba(0,0,0,.3);
    animation: baseball 3.5s infinite linear;
}
@keyframes baseball {
    0% {
        transform: translateY(-75vh) scaleX(.1) scaleY(.1);
        box-shadow: 0px 75vh 300px rgba(0,0,0,.15);
    }
    20% {
        transform: translateX(2vw) translateY(50px) rotate(-2deg) scaleY(.9);
        box-shadow: 0px 50px 20px rgba(0,0,0,.3);
    }
    25% {
        transform: translateX(0) translateY(0) rotate(0deg);
    }
    30% {
        transform: translateX(-2vw) translateY(50px) rotate(2deg) scaleY(.9);
    }
    35% {
        transform: translateX(0) translateY(25px) rotate(0deg);
    }
    40% {
        transform: translateX(2vw) translateY(50px) rotate(-2deg) scaleY(.9);
    }
    45% {
        transform: translateX(-2vw) translateY(35px);
    }
    70% {
        animation-timing-function: cubic-bezier(0, 0.26, 1,-0.37);
        transform: translateX(-75vw) translateY(50px) rotate(200deg) scaleX(0) scaleY(0);
        box-shadow: 20px -25px 30px rgba(0,0,0,.3);
    }
    100% {
        transform: translateX(-50vw) translateY(-75vh);
    }
}

.art#baseball div::before,
.art#baseball div::after {
    position: inherit;
    content: "";
    height: inherit;
    width: inherit;
}
.art#baseball div::before {
    margin-left: -200px;
    background:
    radial-gradient(circle at 15% 50%, white 69%, transparent 70.5%, transparent 76.5%, white 78%),
    linear-gradient(61deg, transparent 49%, darkred 50%, transparent 51%),
    linear-gradient(54deg, transparent 49%, darkred 50%, transparent 51%),
    linear-gradient(46deg, transparent 49%, darkred 50%, transparent 51%),
    linear-gradient(38deg, transparent 49%, darkred 50%, transparent 51%),
    linear-gradient(29deg, transparent 49%, darkred 50%, transparent 51%),
    linear-gradient(20deg, transparent 49%, darkred 50%, transparent 51%),
    linear-gradient(10deg, transparent 49%, darkred 50%, transparent 51%),
    linear-gradient(transparent 49%, darkred 50%, transparent 51%),
    linear-gradient(-10deg, transparent 49%, darkred 50%, transparent 51%),
    linear-gradient(-20deg, transparent 49%, darkred 50%, transparent 51%),
    linear-gradient(-29deg, transparent 49%, darkred 50%, transparent 51%),
    linear-gradient(-38deg, transparent 49%, darkred 50%, transparent 51%),
    linear-gradient(-46deg, transparent 49%, darkred 50%, transparent 51%),
    linear-gradient(-54deg, transparent 49%, darkred 50%, transparent 51%),
    linear-gradient(-61deg, transparent 49%, darkred 50%, transparent 51%);
    border-radius: 50% 0% 0% 50%;
    box-shadow: inset 100px 0px 15px black;
}
.art#baseball div::after {
    background:
    radial-gradient(circle at 85% 50%, white 69%, transparent 70.5%, transparent 76.5%, white 78%),
    linear-gradient(61deg, transparent 49%, darkred 50%, transparent 51%),
    linear-gradient(54deg, transparent 49%, darkred 50%, transparent 51%),
    linear-gradient(46deg, transparent 49%, darkred 50%, transparent 51%),
    linear-gradient(38deg, transparent 49%, darkred 50%, transparent 51%),
    linear-gradient(29deg, transparent 49%, darkred 50%, transparent 51%),
    linear-gradient(20deg, transparent 49%, darkred 50%, transparent 51%),
    linear-gradient(10deg, transparent 49%, darkred 50%, transparent 51%),
    linear-gradient(transparent 49%, darkred 50%, transparent 51%),
    linear-gradient(-10deg, transparent 49%, darkred 50%, transparent 51%),
    linear-gradient(-20deg, transparent 49%, darkred 50%, transparent 51%),
    linear-gradient(-29deg, transparent 49%, darkred 50%, transparent 51%),
    linear-gradient(-38deg, transparent 49%, darkred 50%, transparent 51%),
    linear-gradient(-46deg, transparent 49%, darkred 50%, transparent 51%),
    linear-gradient(-54deg, transparent 49%, darkred 50%, transparent 51%),
    linear-gradient(-61deg, transparent 49%, darkred 50%, transparent 51%);
    border-radius: 0 50% 50% 0%;
    box-shadow: inset -100px 0px 15px black;
}

/* ##### June 18, 2020 - Matrix ##### */
.art#matrix {
    background: linear-gradient(47deg, rgb(79, 93, 116) 20%, rgb(149, 162, 49) 98%);
}
.art#matrix div {
    width: 160px;
    height: 90px;
    margin-top: -52.5px;
    margin-left: -87.5px;
    border: 7px solid #333;
    border-radius: 3px;
    
    animation: matrixFlare 2.5s infinite, matrixBg .5s infinite;
}
.art#matrix div::before,
.art#matrix div::after {
    content: "";
    position: inherit;
    
    margin-left: -102px;
    margin-top: 62px;
    border-radius: 5px;
    height: 104px;
    width: 204px;
    transform: perspective(250px) rotateX(65deg);
}
.art#matrix div::after {
    background: radial-gradient(circle at 93% 4%, white 0.1%, transparent .5%);
    animation: matrixPower 1.5s infinite;
}
.art#matrix div::before {
    background-image:
    radial-gradient(circle at 37.5% 41%, transparent 0%, rgba(0,0,0,.3) 1.5%, transparent 1.5%),
    radial-gradient(circle at 37.5% 41%, darkred 1.5%, transparent 1.5%),
    linear-gradient(90deg,
    #222 3.7%,
    transparent 3.7%, transparent 96.3%,
    #222 96.3%),
    linear-gradient(
    #222 2.3%,
    transparent 2.3%, transparent 6.5%,
    #222 6.5%, #222 8.8%,
    grey 8.8%, black 11.1%,
    
    transparent 11.1%, transparent 15.5%,
    grey 15.5%, black 17.8%,
    
    transparent 17.8%, transparent 23.7%,
    grey 23.7%, black 26%,
    
    transparent 26%, transparent 31.9%,
    grey 31.9%, black 34.2%,
    
    transparent 34.2%, transparent 40.1%,
    grey 40.1%, black 42.4%,
    
    transparent 42.4%, transparent 48.3%,
    grey 48.3%, black 50.6%,
    
    transparent 50.6%, transparent 56.5%,
    grey 56.5%, black 58.8%,
    
    #222 58.8%, #222 61.1%,
    transparent 61.1%, transparent 97.7%,
    #222 97.7%),
    linear-gradient(#333 7%, #272727 7%, #272727 60%, transparent 60%),
    linear-gradient(90deg, #222 24.1%, transparent 24.1%, transparent 50%, #222 50%),
    linear-gradient(
    transparent 67%, darkred 67%, black 68%, #333 68%,
    #333 92%, black 93%, transparent 93%),
    radial-gradient(circle at 37.5% 63%, transparent 3%, black 3%, black 3.3%, transparent 3.3%),
    linear-gradient(#333 67%, transparent 67%),
    linear-gradient(90deg, transparent 34.7%, black 34.7%, black 35%, transparent 35%, transparent 40%, black 40%, black 40.3%, transparent 40.3%),
    linear-gradient(transparent 93%, #333 93%);
}
@keyframes matrixFlare {
    0% {
        box-shadow: inset 0px 20px 300px 0px rgba(0,100,0,.3);
    }
    50% {
        box-shadow: inset 20px 0px 300px 0px rgba(0,100,0,.4);
    }
    100% {
        box-shadow: inset 0px 20px 300px 0px rgba(0,100,0,.3);
    }
}
@keyframes matrixPower {
    0% {
        background: radial-gradient(circle at 93% 4%, white 0.1%, transparent .5%);
    }
    50% {
        background: none;
    }
    100% {
        background: radial-gradient(circle at 93% 4%, white 0.1%, transparent .5%);
    }
}
@keyframes matrixBg {
    0% {
        background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='90px' width='160px'><text fill='rgb(133, 182, 74)' font-size='5px' style='text-orientation: upright; writing-mode: vertical-lr;'><tspan x='2' y='2'>6ds54r5 6f33f564f56x4b6</tspan><tspan x='10' y='0'>g4t6848fd4 v6f 5d46g4</tspan><tspan x='18' y='2'>tb6g46468 r4fd5grd4</tspan><tspan x='26' y='0'>4768fd464s6re4 dsf64s55</tspan><tspan x='34' y='2'>4tr 5yg4564fdsf e001</tspan><tspan x='42' y='0'>00110011 00100110</tspan><tspan x='50' y='2'>010111111 1000110156</tspan><tspan x='58' y='0'>8t5d4gf 5s3d456465</tspan><tspan x='66' y='2'>4 346546534456 854ytu</tspan><tspan x='74' y='0'>fglfjqiezruyk gtr6d4g</tspan><tspan x='82' y='2'>56ers3 6ds54r5 6f33f</tspan><tspan x='90' y='0'>564f56x4b6 g4t6848fd4</tspan><tspan x='98' y='2'>v6f 5d46g4 tb6g46468</tspan><tspan x='106' y='0'>r4fd5grd4 4768fd464s6</tspan><tspan x='114' y='2'>re4 dsf64s55 4tr 5yg45</tspan><tspan x='122' y='0'>64fdsf e00100110011</tspan><tspan x='130' y='2'>00100110 010111111</tspan><tspan x='138' y='0'>10001101568t5d4gf</tspan><tspan x='146' y='2'>5s3d456465 4 6ds54r5</tspan><tspan x='154' y='0'>6f33f564f56x4b6 g4t68</tspan></text></svg>") black;
    }
    25% {
        background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='90px' width='160px'><text fill='rgb(133, 182, 74)' font-size='5px' style='text-orientation: upright; writing-mode: vertical-lr;'><tspan x='0' y='0'>Why are you reading</tspan><tspan x='8' y='2'>this? You know you're</tspan><tspan x='16' y='0'>not supposed to read</tspan><tspan x='24' y='2'>this, right? I mean,</tspan><tspan x='32' y='0'>you can if you want</tspan><tspan x='40' y='2'>to, but it's completely</tspan><tspan x='48' y='0'>useless. Unless you've</tspan><tspan x='56' y='2'>got plenty of time,</tspan><tspan x='64' y='0'>say during a pandemic</tspan><tspan x='72' y='2'>or a lockdown ...</tspan><tspan x='80' y='0'>Know what I'm talking</tspan><tspan x='88' y='2'>about eh? That's how</tspan><tspan x='96' y='0'>I started this project.</tspan><tspan x='104' y='2'>Spring 2020, I woke</tspan><tspan x='112' y='0'>up one morning and</tspan><tspan x='120' y='2'>thought  \"Today I start</tspan><tspan x='128' y='0'>a CSS project! \",</tspan><tspan x='136' y='2'>and that was it.</tspan><tspan x='144' y='0'>One more sentence</tspan><tspan x='152' y='2'>and I'm done with</tspan><tspan x='160' y='0'>this nonsense.</tspan></text></svg>") black;
    }
    50% {
        background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='90px' width='160px'><text fill='rgb(133, 182, 74)' font-size='5px' style='text-orientation: upright; writing-mode: vertical-lr;'><tspan x='6' y='2'>¯\\_(ツ)_/¯ (╯°□°）╯︵ ┻━┻</tspan><tspan x='14' y='0'>(¬_¬ ) (❁´◡`❁) (●'◡'●)</tspan><tspan x='22' y='2'>╰(*°▽°*)╯ ☆*: .｡.</tspan><tspan x='30' y='0'>o(≧▽≦)o  .｡.:*☆(*/ω＼*)</tspan><tspan x='38' y='2'>(^///^) :-D ^_^ :-)</tspan><tspan x='46' y='0'>ᓚᘏᗢ (┬┬﹏┬┬) ಥ_ಥ</tspan><tspan x='54' y='2'>༼ つ ◕_◕ ༽つ ( ´･･)</tspan><tspan x='62' y='0'>ﾉ(._.`) ಠ_ಠ (ˉ﹃ˉ)</tspan><tspan x='70' y='2'>(•_•) :-( ( •_•)</tspan><tspan x='78' y='0'>>⌐■-■ ;-) :-P (⌐■_■)</tspan><tspan x='86' y='2'>(☞ﾟヮﾟ)☞ ☜(ﾟヮﾟ☜) (¬‿¬)</tspan><tspan x='94' y='0'>(T_T) (⊙_⊙;) ¯\\_(ツ)_/¯</tspan><tspan x='102' y='2'>(╯°□°）╯︵ ┻━┻ (¬_¬ )</tspan><tspan x='110' y='0'>(❁´◡`❁) (●'◡'●) ╰(*°▽°*)╯</tspan><tspan x='118' y='2'>☆*: .｡.  o(≧▽≦)o  .｡.:*☆(*/ω＼*)</tspan><tspan x='126' y='0'>(^///^) :-D ^_^ :-)</tspan><tspan x='134' y='2'>ᓚᘏᗢ (┬┬﹏┬┬) ಥ_ಥ ༼ つ ◕_◕ ༽つ</tspan><tspan x='142' y='0'>( ´･･) ﾉ(._.`) ಠ_ಠ</tspan><tspan x='150' y='2'>(ˉ﹃ˉ) (•_•) :-( ( •_•)</tspan><tspan x='158' y='0'>>⌐■-■ ;-) :-P (⌐■_■)</tspan></text></svg>") black;
    }
    75% {
        background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='90px' width='160px'><text fill='rgb(133, 182, 74)' font-size='5px' style='text-orientation: upright; writing-mode: vertical-lr;'><tspan x='4' y='0'>10101010010 1010110</tspan><tspan x='12' y='2'>0110010 0010010 0010</tspan><tspan x='20' y='0'>010 100 010101010101</tspan><tspan x='28' y='2'>1010101 10101 01011</tspan><tspan x='36' y='0'>110101010 101010101011111</tspan><tspan x='44' y='2'>001000000 100 10</tspan><tspan x='52' y='0'>101111011 10110101011011</tspan><tspan x='60' y='2'>1111010101010 1101010</tspan><tspan x='68' y='0'>001100110110 0101001</tspan><tspan x='76' y='2'>0111 000101110101</tspan><tspan x='84' y='0'>010101001 010101001</tspan><tspan x='92' y='2'>001101010 01010101</tspan><tspan x='100' y='0'>10 01 011101010 10101</tspan><tspan x='108' y='2'>010 1011111 0101010</tspan><tspan x='116' y='0'>0111010011 0101010100</tspan><tspan x='124' y='2'>010101010 0100101010010101</tspan><tspan x='132' y='0'>011010101010101 0100</tspan><tspan x='140' y='2'>1010 010110 10101010</tspan><tspan x='148' y='0'>010 1010110 0110010</tspan><tspan x='156' y='2'>0010010 0010 11101</tspan></text></svg>") black;
    }
    100% {
        background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='90px' width='160px'><text fill='rgb(133, 182, 74)' font-size='5px' style='text-orientation: upright; writing-mode: vertical-lr;'><tspan x='2' y='2'>6ds54r5 6f33f564f56x4b6</tspan><tspan x='10' y='0'>g4t6848fd4 v6f 5d46g4</tspan><tspan x='18' y='2'>tb6g46468 r4fd5grd4</tspan><tspan x='26' y='0'>4768fd464s6re4 dsf64s55</tspan><tspan x='34' y='2'>4tr 5yg4564fdsf e001</tspan><tspan x='42' y='0'>00110011 00100110</tspan><tspan x='50' y='2'>010111111 1000110156</tspan><tspan x='58' y='0'>8t5d4gf 5s3d456465</tspan><tspan x='66' y='2'>4 346546534456 854ytu</tspan><tspan x='74' y='0'>fglfjqiezruyk gtr6d4g</tspan><tspan x='82' y='2'>56ers3 6ds54r5 6f33f</tspan><tspan x='90' y='0'>564f56x4b6 g4t6848fd4</tspan><tspan x='98' y='2'>v6f 5d46g4 tb6g46468</tspan><tspan x='106' y='0'>r4fd5grd4 4768fd464s6</tspan><tspan x='114' y='2'>re4 dsf64s55 4tr 5yg45</tspan><tspan x='122' y='0'>64fdsf e00100110011</tspan><tspan x='130' y='2'>00100110 010111111</tspan><tspan x='138' y='0'>10001101568t5d4gf</tspan><tspan x='146' y='2'>5s3d456465 4 6ds54r5</tspan><tspan x='154' y='0'>6f33f564f56x4b6 g4t68</tspan></text></svg>") black;
    }
}
/* ##### June 15, 2020 - Black Lives Matter ##### */
.art#blm {
    background: #926557;
    background-image:
    linear-gradient(90deg,
    #dabaab 16.67%,
    #c29e8f 16.67%, #c29e8f 33.33%,
    #aa8173 33.33%, #aa8173 50%,
    #926557 50%, #926557 66.67%,
    #79483b 66.67%, #79483b 83.33%,
    #612b1f 83.33%);
}
.art#blm div:hover {
    opacity: .85;
}
.art#blm div {
    --blm-bg-color: #2f463f;
    --blm-fist-color: #000;
    --blm-lines-color: #fff;
    width: 300px;
    height: 300px;
    margin-top: -70px;
    margin-left: -160px;
    border-radius: 50%;
    border: 10px solid white;
    background-color: var(--blm-bg-color);
    overflow: hidden;
}
.art#blm div::before {
    content: "";
    position: inherit;
    width: 210px;
    height: 350px;
    margin-top: -10px;
    margin-left: -105px;
    border-radius: 50% 50% 0 0;
    background-color: var(--blm-fist-color);
    background-image:
    linear-gradient(40deg, transparent 76%, var(--blm-bg-color) 76%),
    linear-gradient(-55deg, transparent 79%, var(--blm-bg-color) 79%),
    linear-gradient(-45deg, transparent 80%, var(--blm-bg-color) 80%),
    
    radial-gradient(circle at 38% 12.8%, var(--blm-fist-color) 7%, transparent 7%),
    radial-gradient(ellipse at 41% -21.5%, transparent 24.5%, var(--blm-lines-color) 24.5%, var(--blm-lines-color) 25%, transparent 25%),
    
    radial-gradient(ellipse at 64.7% 41.5%, var(--blm-fist-color) 15.8%, transparent 15.8%),
    radial-gradient(circle at 97% 42%, var(--blm-bg-color) 15%, transparent 15%),
    radial-gradient(circle at 72.5% 28%, var(--blm-fist-color) 10%, transparent 10%),
    
    linear-gradient(-80deg, var(--blm-bg-color) 26.7%, transparent 26.7%),
    linear-gradient(25deg, transparent 70.8%, var(--blm-fist-color) 70.8%),
    
    radial-gradient(ellipse at 31% 24.5%, var(--blm-fist-color) 5%, transparent 5%),
    radial-gradient(circle at 20% 29%, var(--blm-fist-color) 8%, transparent 8%),
    radial-gradient(circle at 31% 31%, transparent 1%, var(--blm-lines-color) 1%, var(--blm-lines-color) 2%, transparent 2%),
    radial-gradient(circle at 44% 24%, transparent 10%, var(--blm-lines-color) 10%, var(--blm-lines-color) 11%, transparent 11%),
    
    linear-gradient(25deg, transparent 59.2%, var(--blm-lines-color) 59.2%, var(--blm-lines-color) 60%, var(--blm-fist-color) 60%, var(--blm-fist-color) 70%, var(--blm-lines-color) 70%, var(--blm-lines-color) 70.8%, var(--blm-fist-color) 70.8%),
    
    linear-gradient(85deg, transparent 54.04%, var(--blm-fist-color) 54.04%,var(--blm-fist-color) 67%, var(--blm-bg-color) 67%),
    
    linear-gradient(65deg, transparent 51%, var(--blm-lines-color) 51%, var(--blm-lines-color) 52%, transparent 52%),
    
    linear-gradient(-80deg, transparent 45%, var(--blm-lines-color) 45%, var(--blm-lines-color) 46%, transparent 46%),
    linear-gradient(-80deg, transparent 35%, var(--blm-fist-color) 35%, var(--blm-fist-color) 63%, transparent 63%),
    linear-gradient(60deg, var(--blm-bg-color) 38%, transparent 38%)
    ;
}
.art#blm div::after {
    content: "";
    position: inherit;
    width: 60px;
    height: 75px;
    margin-top: 73px;
    margin-left: 7.5px;
    transform: rotate(40deg);
    border-top-right-radius: 5px;
    border-left: 3px solid var(--blm-lines-color);
    background-image:
    radial-gradient(circle at 30% 198%, var(--blm-fist-color) 50%,var(--blm-lines-color) 50%, var(--blm-lines-color) 52%, transparent 52%),
    linear-gradient(-75deg, transparent 11.6%, var(--blm-lines-color) 11.6%, var(--blm-lines-color) 16%, transparent 16%),
    linear-gradient(90deg, transparent 47%, var(--blm-lines-color) 47%, var(--blm-lines-color) 53%, transparent 53%),
    linear-gradient(10deg, transparent 17%, var(--blm-fist-color) 17%)
    ;
}

/* ##### June 15, 2020 - Hoverboard ##### */
.art#hoverboard {
    background: linear-gradient(165deg, rgb(16, 115, 55) 3%, rgb(244, 100, 238) 98%);
}
.art#hoverboard div {
    width: 312px;
    height: 67px;
    margin-top: -37.5px;
    margin-left: -160px;
    border-radius: 50px 10px 10px 50px;
    border: 4px solid #fa517e;
    background-color: pink;
    background-image:
    linear-gradient(90deg, transparent 92%, rgba(50,50,50,.05) 95%),
    
    linear-gradient(60deg, transparent 93.5%, white 93.5%, white 95%, #ffd000 95%, #ffd000 99%, transparent 99%),
    linear-gradient(55deg, transparent 49.5%, white 49.5%, white 51%, #ffd000 51%, #ffd000 55%, transparent 55%, transparent 56%, #ffd000 56%, #ffd000 60%, white 60%, white 61.5%, transparent 61.5%),
    
    linear-gradient(-45deg, transparent 65.5%, white 65.5%, white 67%, #fa517e 67%, #fa517e 71%, transparent 71%, transparent 72%, #fa517e 72%, #fa517e 76%, white 76%, white 77.5%, transparent 77.5%),
    linear-gradient(-45deg, transparent 22.5%, white 22.5%, white 24%, #fa517e 24%, #fa517e 28%, transparent 28%, transparent 29%, #fa517e 29%, #fa517e 33%, white 33%, white 34.5%, transparent 34.5%),
    linear-gradient(55deg, transparent 2.5%, #ffd000 2.5%, #ffd000 6.5%, white 6.5%, white 8%, transparent 8%),
    
    linear-gradient(35deg, transparent 80%, #85b64a 80%, #85b64a 83%, transparent 83%),
    linear-gradient(-35deg, pink 50%, transparent 50%),
    linear-gradient(25deg, pink 30%, #85b64a 30%, #85b64a 34%, transparent 34%),
    linear-gradient(-35deg, transparent 50%, #85b64a 50%, #85b64a 53%, transparent 53%);
    
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0 rgba(0,0,0,0.6);
        transform: translatey(0px);
    }
    50% {
        box-shadow: 0 25px 15px 0 rgba(0,0,0,0.2);
        transform: translatey(-20px);
    }
    100% {
        box-shadow: 0 5px 15px 0 rgba(0,0,0,0.6);
        transform: translatey(0px);
    }
}

/* ##### May 30, 2020 - Logo ##### */
.art#logo {
    background: linear-gradient(193deg, rgb(63, 75, 105) 20%, rgb(249, 247, 185) 95%);
}
.art#logo div {
    margin-top: -108px;
    margin-left: -108px;
    height: 200px;
    width: 200px;
    border: 8px solid black;
    transform: rotate(45deg);
    background-image:
    linear-gradient(-45deg,transparent 73%,white 73%,white 100%,transparent 100%),
    linear-gradient(-45deg,transparent 0%,white 0%,white 30%,transparent 30%),
    linear-gradient(45deg,transparent 0%,white 0%,white 22%,transparent 22%),
    linear-gradient(45deg,transparent 78%,white 78%,white 100%,transparent 100%),
    linear-gradient(0deg,transparent 40%,black 40%,black 45%,transparent 45%),
    linear-gradient(45deg,transparent 26%,white 26%,white 28%,transparent 28%),
    linear-gradient(0deg,transparent 32%,black 32%,black 37%,transparent 37%),
    linear-gradient(45deg,transparent 22%,black 22%,black 26%,transparent 26%),
    linear-gradient(0deg,transparent 37%,white 37%,white 40%,transparent 40%),
    linear-gradient(45deg,transparent 28%,black 28%,black 32%,transparent 32%),
    linear-gradient(0deg,transparent 0%,white 0%,white 32%,transparent 32%),
    linear-gradient(90deg,transparent 45%,white 45%,white 55%,transparent 55%),
    linear-gradient(45deg,transparent 74%,black 74%,black 78%,transparent 78%),
    linear-gradient(90deg,transparent 55%,black 55%,black 60%,white 60%, white 63%,black 63%,black 68%,transparent 68%),
    linear-gradient(45deg,transparent 68%,black 68%,black 72%,transparent 72%),
    linear-gradient(0deg,transparent 45%,white 45%,white 100%,transparent 100%),
    linear-gradient(90deg,transparent 63%,white 63%,white 68%,transparent 68%),
    linear-gradient(45deg,transparent 68%,black 68%,black 72%,transparent 72%),
    linear-gradient(45deg,transparent 74%,black 74%,black 78%,transparent 78%);
}
.art#logo div::before,
.art#logo div::after {
    content: "";
    position: inherit;
    background-color:white;
}
.art#logo div::before {
    height: 55%;
    width: 55%;
    margin-left: -50%;
}
.art#logo div::after {
    height: 30%;
    width: 30%;
    margin-left: 18%;
    margin-top: 54%;
}
