html,
body,
div {
    user-select: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html, body {
    overflow: overlay;
    scrollbar-width: thin;
    scrollbar-color: #3337 transparent;
}
html::-webkit-scrollbar,
html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar,
body::-webkit-scrollbar-thumb {
    width: 12px;
    border: 4px solid transparent;
    border-radius: 1000px;
}
html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 6px #3337;
}

header {
    background: linear-gradient(30deg, violet, skyblue, khaki, salmon);
    text-align: center;
    font-family: 'MuseoModerno', cursive;
    color: white;
    padding: 5px;
}

header h3 {
    animation: title-animation 4s linear infinite;
    padding: 5px;
    font-size: 200%;
}

header h3 svg {
    height: 64px;
    width: 64px;
    vertical-align: middle;
}

header h3 svg path#rect {
    animation: logo-rect-animation 4s linear infinite;
}

header h3 svg path#letter {
    animation: logo-letter-animation 4s linear infinite;
}

@keyframes title-animation {
    0%{ color: violet; }
    25%{ color: skyblue; }
    50%{ color: khaki; }
    75%{ color: salmon; }
    100%{ color: violet; }
}

@keyframes logo-rect-animation {
    0%{ stroke: violet; }
    25%{ stroke: skyblue; }
    50%{ stroke: khaki; }
    75%{ stroke: salmon; }
    100%{ stroke: violet; }
}

@keyframes logo-letter-animation {
    0%{ fill: violet; }
    25%{ fill: skyblue; }
    50%{ fill: khaki; }
    75%{ fill: salmon; }
    100%{ fill: violet; }
}


#menu-button {
    height: 1.3em;
    width: 1.5em;
    
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 3;
    transition: all .7s;
    cursor: pointer;
}

#menu-button:hover {
    opacity: .8;
}

#menu-button::before,
#menu-button::after {
    position: absolute;
    left: 0;
    content: "";
    background: white;
    height: .25em;
    width: inherit;
    transition: inherit;
    transform-origin: 0% 50%;
}

#menu-button::before {
    top: 0%;
    --angle: 45deg;
}

#menu-button::after {
    bottom: 0%;
    --angle: -45deg;
}

#menu-button.opened {
    transform: rotate(-180deg);
}

#menu-button.opened::before,
#menu-button.opened::after {
    transform: rotate(var(--angle));
}


#menu {
    position: absolute;
    left: 0;
    top: -100%;
    
    opacity: 0;
    
    height: fit-content;
    width: 100%;    
    
    background: #000c;
    z-index: 2;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: left;
    
    font-family: 'Advent Pro', sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    transition: all .7s;
}

@media (min-width: 720px) {
    #menu {
        width: fit-content;
        left: initial;
        right: 0;
    }
}

#menu.opened {
    top: 0;
    opacity: 1;
}

#menu a {
    width: fit-content;
    display: block;
    text-decoration: none;
    color: white;
    margin: 10px 64px 0 32px;
}

#menu a#wip {
    font-size: 30%;
}

#menu a:hover {
    opacity: .7;
    font-style: italic;
}


.art {
    text-align: center;
    min-height: 400px;
    position: relative;
    overflow: hidden;
}

@media (min-width: 960px) {
    .art {
        float: left;
        width: 50%;
    }
    
    .art.wide {
        width: 100%;
    }
}

.art div {
    position: absolute;
    left: 50%;
    top: 50%;
}
