@import "main.css";

@import "art/wip/caffetiera.css";
@import "art/wip/christmas-sock.css";
@import "art/wip/guillotine.css";
@import "art/wip/le-reglement.css";
@import "art/wip/metro.css";
@import "art/wip/pi.css";
@import "art/wip/thanksgiving.css";
@import "art/wip/zodiac.css";

@font-face {
    font-family: 'Advent Pro';
    font-weight: 700;
    src: url("/fonts/AdventPro-Bold.ttf");
}

.wip-banner {
    width: 100%;
    background-color: gold;
    color: #0005;
    padding: .5em 0;
    text-transform: uppercase;
    font-family: 'Advent Pro';
    font-size: 1.5em;
    font-weight: 700;
    display: inline-block;

    text-align: center;
}

.wip-banner a {
    display: block;
    font-size: .7em;
    width: fit-content;
    margin: auto;
    color: inherit;
}

.wip-banner a:hover {
    opacity: .7;
}