/* ##### December 25, 2020 - Christmas sock ##### */
.art#christmas-sock {
  --christmas-sock-red: #a00000;
  --christmas-sock-white: #fffaee;
  --christmas-sock-background: #003900;
  --christmas-sock-size: 120px;

  background: var(--christmas-sock-background);
}
.art#christmas-sock div {
  height: calc(var(--christmas-sock-size) * 1.7);
  width: calc(var(--christmas-sock-size) * 0.75);
  margin-top: calc(var(--christmas-sock-size) * -0.84);
  margin-left: calc(var(--christmas-sock-size) * -0.2);
  border-radius: calc(var(--christmas-sock-size) * 0.15);

  transform: rotate(15deg);
  transform-origin: 20px -25px;
  animation: christmas-sock 2s ease-in-out infinite;

  background: var(--christmas-sock-red);
  box-shadow: calc(var(--christmas-sock-size) * -0.2)
      calc(var(--christmas-sock-size) * -0.6) 0
      calc(var(--christmas-sock-size) * -0.35) var(--christmas-sock-red),
    calc(var(--christmas-sock-size) * -0.22)
      calc(var(--christmas-sock-size) * -0.6) 5px
      calc(var(--christmas-sock-size) * -0.35) black,
    inset calc(var(--christmas-sock-size) * -0.19)
      calc(var(--christmas-sock-size) * 0.24)
      calc(var(--christmas-sock-size) * 0.175)
      calc(var(--christmas-sock-size) * -0.22) white,
    calc(var(--christmas-sock-size) * -0.025)
      calc(var(--christmas-sock-size) * 0.025)
      calc(var(--christmas-sock-size) * 0.04) black;
}
@keyframes christmas-sock {
  0% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(17deg);
  }
}
.art#christmas-sock div::before,
.art#christmas-sock div::after {
  position: inherit;
  content: "";
}
.art#christmas-sock div::before {
  width: calc(var(--christmas-sock-size) * 0.9);
  height: calc(var(--christmas-sock-size) * 0.45);
  margin-left: calc(var(--christmas-sock-size) * -0.45);
  margin-top: calc(var(--christmas-sock-size) * -0.05);

  border-radius: calc(var(--christmas-sock-size) * 0.15)
    calc(var(--christmas-sock-size) * 0.15)
    calc(var(--christmas-sock-size) * 0.1)
    calc(var(--christmas-sock-size) * 0.1);

  background: var(--christmas-sock-white);
  box-shadow: calc(var(--christmas-sock-size) * -0.025)
      calc(var(--christmas-sock-size) * 0.01)
      calc(var(--christmas-sock-size) * 0.04) 0 black,
    inset calc(var(--christmas-sock-size) * 0.025)
      calc(var(--christmas-sock-size) * -0.025)
      calc(var(--christmas-sock-size) * 0.04)
      calc(var(--christmas-sock-size) * -0.025) black;
}
.art#christmas-sock div::after {
  height: calc(var(--christmas-sock-size) * 0.55);
  width: calc(var(--christmas-sock-size) * 1.15);
  margin-top: calc(var(--christmas-sock-size) * 1.2);
  margin-left: calc(var(--christmas-sock-size) * -0.37);

  border-radius: 0 calc(var(--christmas-sock-size) * 0.35)
    calc(var(--christmas-sock-size) * 0.15)
    calc(var(--christmas-sock-size) * 0.15);

  transform: rotate(5deg);

  background: var(--christmas-sock-red);
  box-shadow: inset calc(var(--christmas-sock-size) * -0.19) 0
      calc(var(--christmas-sock-size) * 0.17)
      calc(var(--christmas-sock-size) * -0.21) white,
    0 calc(var(--christmas-sock-size) * 0.07)
      calc(var(--christmas-sock-size) * 0.04)
      calc(var(--christmas-sock-size) * -0.04) black;
}
