/* ##### May 17, 2021 - Guillotine ##### */
.art#guillotine {
  --guillotine-background: #931817;
  --guillotine-wood-light: #aa8855;
  --guillotine-wood-dark: #816842;
  --guillotine-blade-light: #bfbfbf;
  --guillotine-blade-dark: #999;

  --guillotine-size: 250px;

  background: var(--guillotine-background);
}

.art#guillotine div {
  height: var(--guillotine-size);
  width: calc(var(--guillotine-size) * 0.5);

  margin-top: calc(var(--guillotine-size) * -0.5);
  margin-left: calc(var(--guillotine-size) * -0.25);

  background: linear-gradient(transparent 2%,
      var(--guillotine-wood-dark) 2%,
      var(--guillotine-wood-dark) 7%,
      transparent 7%,
      transparent 97%,
      var(--guillotine-wood-dark) 97%),
    linear-gradient(90deg,
      var(--guillotine-background) 5%,
      var(--guillotine-wood-dark) 5%,
      var(--guillotine-wood-dark) 15%,
      transparent 15%,
      transparent 85%,
      var(--guillotine-wood-dark) 85%,
      var(--guillotine-wood-dark) 95%,
      var(--guillotine-background) 95%),
    radial-gradient(circle at center 81%,
      var(--guillotine-background) 7.5%,
      transparent 7.5%),
    linear-gradient(transparent 70%,
      var(--guillotine-wood-light) 70%,
      var(--guillotine-wood-light) 80.5%,
      transparent 80.5%,
      transparent 81.5%,
      var(--guillotine-wood-light) 81.5%,
      var(--guillotine-wood-light) 92%,
      transparent 92%);
}

.art#guillotine div::before,
.art#guillotine div::after {
  content: "";
  position: inherit;

  width: calc(var(--guillotine-size) * 0.35);
  margin-left: calc(var(--guillotine-size) * -0.175);
}

.art#guillotine div::before {
  height: calc(var(--guillotine-size) * 0.25);
  margin-top: calc(var(--guillotine-size) * 0.07);

  background: linear-gradient(90deg,
      transparent 30%,
      var(--guillotine-blade-dark) 30%,
      var(--guillotine-blade-dark) 33%,
      transparent 33%,
      transparent 67%,
      var(--guillotine-blade-dark) 67%,
      var(--guillotine-blade-dark) 70%,
      transparent 70%);
  animation: guillotine-cables 3s infinite linear both;
}

.art#guillotine div::after {
  height: calc(var(--guillotine-size) * 0.25);

  background: linear-gradient(-20deg,
      transparent 33%,
      var(--guillotine-blade-light) 33%,
      var(--guillotine-blade-light) 43%,
      var(--guillotine-blade-dark) 43%);
  animation: guillotine-blade 3s infinite linear both;
}

@keyframes guillotine-cables {
  0% {
    height: 0px;
  }

  33% {
    height: calc(var(--guillotine-size) * 0.65);
  }

  100% {
    height: 0px;
  }
}

@keyframes guillotine-blade {
  0% {
    margin-top: calc(var(--guillotine-size) * 0.07);
  }

  33% {
    margin-top: calc(var(--guillotine-size) * 0.72);
  }

  100% {
    margin-top: calc(var(--guillotine-size) * 0.07);
  }
}